Step 1: Import required libraries

In [1]:
import pandas as pd

Step 2: Load the dataset

In [2]:
df = pd.read_csv('archive/SampleSuperstore.csv')

Step 3: View the shape of the data

In [3]:
print("Shape of dataset:", df.shape)

Shape of dataset: (9994, 13)

Step 4: View the column names

In [4]:
print("Columns:\n", df.columns.tolist())

Columns:
 ['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount', 'Profit']

Step 5: Preview the first 5 rows

In [5]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

Step 6: Check structure of data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

Step 7: Summary statistics for numeric columns

In [7]:
df.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

We'll check unique values in some important columns

In [8]:
print(df['Segment'].value_counts())
print(df['Category'].value_counts())
print(df['Region'].value_counts())
print(df['State'].nunique(), "Unique states")

Consumer       5191
Corporate      3020
Home Office    1783
Name: Segment, dtype: int64
Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64
West       3203
East       2848
Central    2323
South      1620
Name: Region, dtype: int64
49 Unique states

Now let's view Total Sales and Profit

In [9]:
total_sales = df['Sales'].sum()
total_profit = df['Profit'].sum()
print(f"Total Sales: ${total_sales:,.2f}")
print(f"Total Profit: ${total_profit:,.2f}")

Total Sales: $2,297,200.86
Total Profit: $286,397.02

We'll look at top and bottom 10 performing states by Profit

In [10]:
top_states = df.groupby("State")["Profit"].sum().sort_values(ascending=False).head(10)
bottom_states = df.groupby("State")["Profit"].sum().sort_values().head(10)

print("Top States", top_states)
print("Bottom States", bottom_states)

Top States State
California    76381.3871
New York      74038.5486
Washington    33402.6517
Michigan      24463.1876
Virginia      18597.9504
Indiana       18382.9363
Georgia       16250.0433
Kentucky      11199.6966
Minnesota     10823.1874
Delaware       9977.3748
Name: Profit, dtype: float64
Bottom States State
Texas            -25729.3563
Ohio             -16971.3766
Pennsylvania     -15559.9603
Illinois         -12607.8870
North Carolina    -7490.9122
Colorado          -6527.8579
Tennessee         -5341.6936
Arizona           -3427.9246
Florida           -3399.3017
Oregon            -1190.4705
Name: Profit, dtype: float64

Similarly lets look at top performing Sub Categories

In [11]:
top_subcats = df.groupby("Sub-Category")["Sales"].sum().sort_values(ascending=False).head(10)
print("Top Sub Categories", top_subcats)

Top Sub Categories Sub-Category
Phones         330007.0540
Chairs         328449.1030
Storage        223843.6080
Tables         206965.5320
Binders        203412.7330
Machines       189238.6310
Accessories    167380.3180
Copiers        149528.0300
Bookcases      114879.9963
Appliances     107532.1610
Name: Sales, dtype: float64

Let's see which sub categories have high discount but still give low profit (or loss)

In [12]:
loss_df = df[df['Profit'] < 0]

grouped = loss_df.groupby('Sub-Category')

avg_metrics = grouped[['Sales', 'Profit', 'Discount']].mean()

avg_metrics_sorted = avg_metrics.sort_values('Profit')

avg_metrics_sorted

                    Sales      Profit  Discount
Sub-Category
Machines      1646.733023 -684.515186  0.581818
Tables         517.135695 -159.665755  0.365271
Appliances      50.485582 -128.800615  0.800000
Bookcases      441.034319 -111.488128  0.348532
Supplies       426.278061  -91.382482  0.200000
Binders         58.956954  -62.822996  0.738010
Phones         263.219412  -55.372232  0.342647
Chairs         391.440238  -42.046133  0.261277
Storage        235.211627  -39.914930  0.200000
Furnishings     76.921222  -38.867745  0.530539
Accessories    120.426374  -10.226665  0.200000
Fasteners       12.440000   -2.766267  0.200000

Now, let's see if there is any correlation between discount and profit

In [13]:
df[['Discount', 'Profit']].corr()

          Discount    Profit
Discount  1.000000 -0.219487
Profit   -0.219487  1.000000